@media (max-width: 670px) {
  .masthead {
    /*display: none!important;*/
  }
}

@media (max-width: 1000px) {
  #introo {
    background-color: #ffe3e6!important;
  }
  header {
  overflow-x: hidden;
}
}



header a {
  color: rgb(182,88,91)!important;
}

header a:hover {
  color: black!important;
}

#teaser a:focus, a:hover {
  color: rgb(182,88,91);
  text-decoration: underline;
}

#teaser a {
  transition: all .2s ease-in-out;
  color: #cc8299;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(182,88,91)!important;
  border-color: rgb(182,88,91)!important;
}

.btn-default:focus, .btn-default:hover {
  color: white;
  border: 1px solid rgb(182,88,91);
  outline: none;
  background-color: rgb(182,88,91);
}

.btn-default {
  color: rgb(182,88,91);
  border: 1px solid rgb(182,88,91);
  background-color: transparent;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #212529;
  background-color: rgb(182,88,91);
  border-color: rgb(182,88,91);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(182,88,91);
  border-color: rgb(182,88,91);
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: white;
  background-color: rgb(182,88,91);
  border-color: rgb(182,88,91);
}

.btn-primary {
  color: rgb(182,88,91);
  background-color: transparent;
  border-color: rgb(182,88,91);
}

#speciallll a {
  color: #ffe3e6!important;
}

@media (max-width: 768px) {
  .col-md-6, .col-md-8, .col-md-4 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #titleeee {
    padding-top: 20%;
  }
}

