html, nav, #about, #bio, #work, #contact, footer, #poems
{
  font-family:Helvetica, sans-serif;
  font-size: 16px;
  background-color: #fff!important;
  color:black;
}

table {
  border-collapse: collapse;
  text-align:left;
  width:75%;
}

::selection
{
  background: rgb(171, 176, 213);
}

.bio-body::selection
{
  background: rgb(153, 153, 32);
}

.bio-body em::selection, a::selection
{
  background: rgb(171, 176, 213);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 .05rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: Helvetica, 'Archivo Narrow', sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-align: right;
  text-transform: uppercase;
}

.mas h2
{
  margin-top: 65px;
}

a {
  transition: all .2s ease-in-out;
  color: rgb(0, 43, 213);
  text-decoration: none;
}

nav a {
  color: black!important;
}


#work a:hover , .nav-item a:hover, #about a:hover, #contact a:hover{
  text-decoration: underline;
}

a:focus, a:hover {
  color: rgb(143,116,72);
}

.content-section {
  padding-top: 0px;
  padding-bottom: 50px;
}

.submit{
  padding:15px;
  background: transparent;
  border: 1px solid lightgrey;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}

.submit:hover
{
  background-color: rgb(227, 227, 227);
}

@media (min-width: 768px) {
  .mas h2
  {
    margin:0!important;
  }
  .mas {
    padding-top: 100px!important;
    bottom: 100px!important;
  }
}
@media (min-width: 1000px) {
  .bio-body {
    width: 80%;
  }
  h1 {
    width: 70%;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}


.clips h3, .clips h6, .mothsource a {
  text-transform: none;
}


.submit-now:hover {
  border: rgb(143,150,105);
  color: rgb(21,24,5);
}

.specialrow {
  margin-left: 10%;
  margin-right: 10%;
}

.clips a {
  text-decoration: none;
}

.clips h2 a, .booklink a {
  color: rgb(143,116,72);
  text-decoration: underline;
}

.clips h2 a:hover, .booklink a:hover {
  color: rgb(62,62,9);
  text-decoration: underline;
}

.mothsource a, .booklink a {
  text-decoration: none;
}

.mothcover {
  border-radius: 0;
}

.poems a {
  text-decoration: none;
  color: rgb(121,126,89);
}

.poems a:hover {
  text-decoration: underline;
  color: rgb(70,78,21);
}

.contactsub:hover {
  color: rgb(152,126,86);
  background-color: rgb(241,241,231)!important;
}